{{ if eq .osid "windows" -}}
# -*-mode:powershell-*- vim:ft=powershell

# =============================================================================
# Idempotent manual setup script to move files to Windows specific locations

if ($env:XDG_CONFIG_PATH) {
    $XDGPATH = $env:XDG_CONFIG_PATH
} else {
    $XDGPATH = Join-Path $HOME ".config"
}

$CopyFilesInDirMap = @{
    "pwsh" = @{
        "src"  = Join-Path $XDGPATH "powershell"
        "dest" = Join-Path $HOME "Documents/PowerShell"
    }
    "powershell" = @{
        "src"  = Join-Path $XDGPATH "powershell"
        "dest" = Join-Path $HOME "Documents/WindowsPowerShell"
    }
    "windows_terminal" = @{
        "src"  = Join-Path $XDGPATH "windows_terminal"
        "dest" = Join-Path $env:LOCALAPPDATA "Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState"
    }
    "doublecmd_shortcuts" = @{
        "src"  = Join-Path $XDGPATH "doublecmd"
        "dest" = Join-Path $env:APPDATA "doublecmd"
    }
}

foreach ($key in $CopyFilesInDirMap.Keys) {
    $src_dir = $CopyFilesInDirMap[$key]["src"]
    $dest_dir = $CopyFilesInDirMap[$key]["dest"]

    if (-not (Test-Path -Path $dest_dir)) {
        New-Item -ItemType Directory -Force -Path $dest_dir
        Write-Host "Created destination: $dest_dir"
    }
    
    Copy-Item -Path (Join-Path $src_dir "*") -Destination $dest_dir -Recurse -Force
    Write-Host "Copied all files from $src_dir -> $dest_dir"
}

# https://github.com/catppuccin/notepad-plus-plus
# copy theme files to notepad++ directory
$catp_npp_src = Join-Path $HOME {{ joinPath (includeTemplate "get-catppuccin-themes-dir" .) "notepad_plus_plus" | quote }}
Write-Host "catppuccin external path $catp_npp_src"
$dest = Join-Path $env:APPDATA "Notepad++\themes"

Set-Variable -Name count -Value 0 -Scope Script

if ((Test-Path -Path $catp_npp_src) -and (Test-Path -Path $dest)) {
   Set-Variable -Name count -Value 0 -Scope Script
   Get-ChildItem -Path $catp_npp_src -Filter *.xml -Recurse | ForEach-Object {
       Write-Host "Copy file $_ -> $dest"
       Copy-Item -Path $_.FullName -Destination $dest -Force
       $count++
   }
}
Write-Host "$count Catppuccin .xml files copied to: $dest"
{{- end -}}
