{{ if includeTemplate "is-linux-debian" . -}}
#!/bin/bash

{{ $install_script:= joinPath .chezmoi.sourceDir "scripts" "install_debian.sh" -}}
# {{ include $install_script | sha256sum }}
source {{ $install_script }} {{ .user.software.default_shell }} {{ .user.software.python_version }}
{{ end -}}
