# -*-mode:gitconfig-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#
# Sources:
#     https://delicious-insights.com/en/posts/mastering-git-submodules/
#     https://github.com/haacked/dotfiles
#     https://github.com/holman/dotfiles
#     https://github.com/jayharris/dotfiles-windows
#     https://github.com/mathiasbynens/dotfiles
#     https://git-scm.com/docs/git-config/

[user]
    name = "{{- .name }}"
    email = "{{- .email }}"
[branch]
    sort = -committerdate
[color]
    ui = true
# colors taken from https://github.com/so-fancy/diff-so-fancy
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = yellow bold 52
    newNormal = green bold
    newHighlight = cyan bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[column]
    ui = auto
[commit]
    template = ~/.gitmessage.txt
[core]
    autocrlf = {{ if eq .osid "windows" }}true{{ else }}input{{ end }}
    editor = nvim
    excludesfile = ~/.gitignore_global

    # Speed up commands involving untracked files such as `git status`.
    # See https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true

    # Set comment character to something that allows mentioning issue numbers.
    commentChar = ";"
[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[help]
    # Correct and execute mistyped commands.
    autocorrect = 1
[include]
    path = ".gitconfig_local"  # include local configuration (optional)
[init]
    defaultBranch = main
[interactive]
	diffFilter = diff-highlight
[merge]
    # Include summaries of merged commits in newly created merge commit messages.
    log = true
[mergetool]
    # Avoid saving an `.orig` backup file after a merge.
    keepBackup = false
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[push]
    autoSetupRemote = true
    default = current
[rebase]
    autosquash = true
[rerere]
    enabled = true
