{{ if eq .chezmoi.os "windows" -}}
# -*-mode:powershell-*- vim:ft=powershell

$source = Join-Path $HOME ".config/powershell"
$destination1 = Join-Path $HOME "Documents/PowerShell"
$destination2 = Join-Path $HOME "Documents/WindowsPowerShell"

foreach ($dest in @($destination1, $destination2)) {
    if (-Not (Test-Path -Path $dest)) {
        Write-Host "Creating destination directory: $dest"
        New-Item -ItemType Directory -Path $dest -Force | Out-Null
    }
}

foreach ($dest in @($destination1, $destination2)) {
    Write-Host "Copying files from $source to $dest"
    Copy-Item -Path $source\* -Destination $dest -Recurse -Force
}
{{- end }}
