{{- /* https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/#handle-different-file-locations-on-different-systems-with-the-same-contents */ -}}
{{- template "alacritty.toml.tmpl" . -}}
